

.design {
    background-color: hsl(0, 0%, 100%);
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.img {
    width: 100%;
    max-width: 280px;
    border-radius: 10px;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}